* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Grandstander', cursive;
}

/* body {
  background-color: gainsboro;
} */

/* .screen {
  border: gainsboro 1px solid;
  width: 800px;
  background-color: white;
}

header {
  padding: 15px 10px;
  background-color: #8BEAFF;
  color: white;
}

.deadlineForm {
  padding: 20px 0px;
}

.container{
  display: flex;
  flex-direction: row;
}

.item {
  margin-top: 10px;
}

label {
  color: grey;
  font-size: 12pt;
}

input {
  color: grey;
  font-size: 12pt;
  border: unset;
  outline: unset;
  border: #c4c4c4 solid 2px;
  border-radius: 8px;
  padding: 5px;
}

input:focus{
  border: 2px solid #8BEAFF;
} */

/* .tambah-btn {
  margin-left: 0px;
  margin-top: 24px;
  border: unset;
  outline: unset;
  background-color: #8BEAFF;
  color: white;
  font-weight: bolder;
  padding: 5px;
  cursor: pointer;
} */

/* .deadline {
  padding: 10px;
} */

/* table {
  margin-top: 10px;
  width: 100%;
}

table th{
  color: grey;
  font-weight: bold;
}

table td{
  color: grey;
  text-align: center;
  font-size: 10pt;
  padding: 10px;
} */


@media only screen and (max-width: 600px){
  .container {
      flex-direction: column;
  }

  .tambah-btn{
      margin-top: 0px;
  }
  .screen{
      width: 100%;
  }
}

hr {
  margin-top: 20px;
  border: unset; 
  border-bottom: 1px solid gainsboro;
}






/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
